.skjult {
  display: none;
}

.ok {
  background-color: green;
}

.error {
  background-color: red;
}

.melling>p {
  padding: 1em;
  border-radius: 1em;
}

.error:not(.skjult) {
  animation: fade 10s forwards;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
